/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 0.16rem;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

/* Header Styles */

header {
    width: 100%;
    display: flex;
}

header nav {
    margin-top: 4.546%; 
    width: 69.3%;
    justify-content: space-between;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: #b0b0b0;
    font-size: 1.6rem;
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}

header .logo {
    align-self: flex-end;
    margin: 3.182% 0 0 10.342%;
}

/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 8.523%;
    justify-content: flex-end;
}

.cta h1 {
    margin-bottom: 3.355%;
}

.cta .cta-text {
    font-size: 7.2rem;
    text-align: center;
    letter-spacing: 0.5rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 0 9.319% 0 0;
}

.cta .cta-text button {
    border: 1px double black;
    font-size: 1.6rem;
    background: white;
    width: 58.198%;
    height: 32px;
    margin-top: 3.424%;
    cursor: pointer;
}

.cta .cta-text button:hover {
    background: black;
    color: white;
}

/* Main Content Styles */

.main-content {
   border-top: 2px solid black; 
   border-bottom: 2px solid black;
   margin: 8.523% 0 3.978% 0;
   padding: 3.978% 0;
   font-size: 1.6rem;
   line-height: 1.8rem;
}

.main-content .top-content {
    display: flex;
    justify-content: space-around;
}

.main-content .middle-img {
    display: block;
    margin: 3.41% auto;
}

.main-content .bottom-content {
    display: flex;
    justify-content: space-around;
}

.main-content .bottom-content p {
    padding-right: 10.23%;
}

.top-content .text-content h4 {
    margin-bottom: 2.273%;
}
.bottom-content .text-content h4 {
    margin-bottom: 3.41%;
}

/* Contact Styles */

.contact {
    font-size: 1.6rem;
}

.contact h4 {
    margin-bottom: 1.137%;
}

.contact p {
    margin: 0 0 1.705% 0;
}

/* Footer Styles */

footer {
    text-align: center;
    margin: 4.546% 0 2.273%;
    font-size: 1.6rem;
}

@media (max-width: 768px) {
    .container {
        padding: 0 2.605% 2.605% 2.605%; 
    }
    header {
        flex-flow: column wrap;
        justify-content: center;
    }

    header nav {
        order: 2;
        flex-grow: 1;
        width: 100%;
        margin-top: 5.495%;
    }

    header .logo {
        order: 1;
        margin: 4.121% 0 0 0;
        align-self: center;
    }
    .cta img {
        display: none;
    }
    .cta .cta-text {
        margin: 0;
    }
    .cta {
        justify-content: center;
        margin-top: 10.303%;
    }
    .text-content {
        padding: 0 2.473% 0 1.374%;
    }
    .top-content .text-content h4 {
    margin-bottom: 2.977%;
}
.bottom-content .text-content h4 {
    margin-bottom: 4.659%;
}
    .main-content {
        margin: 10.303% 0 4.121% 0;  
        padding: 4.121% 0;
    }
    .main-content .middle-img {
        margin: 4.121% 0;
    }
    .main-content .bottom-content p {
    padding-right: 4.659%;
    }
    .contact {
        padding-left: 1.374%;
    }
    .contact h4 {
    margin-bottom: 1.393%;
}
}

@media (max-width: 400px) {
    .container {
        padding: 0;
    }
    header .logo {
        padding: 5%;
        margin: 0;
    }
    header nav {
        flex-flow: column wrap;
        align-items: center;
        margin: 0;
    }
    nav a {
        padding: 5%;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #b0b0b0;
    }
    nav a:first-child {
        border-top: 1px solid #b0b0b0;
    }
    .top-content .text-content h4 {
        margin-bottom: 2.6%;
    }
    .bottom-content .text-content h4 {
        margin-bottom: 2.6%;
    }
    .contact h4 {
        margin-bottom: 2.535%;
    }
    .cta {
        margin-top: 12.5%;
    }
    .main-content {
        padding-bottom: 0;
    }
    .text-content {
        width: 100%;
        padding-bottom: 7.5%;
    }
    .top-content, .bottom-content {
        flex-flow: column wrap;
    }
    .top-content {
        margin: 5% 0 2.5% 0;
    }

    .main-content {
        margin: 18.75% 0 7.5% 0;
    }
    .main-content .middle-img {
        margin: 0 0 7.5% 0;
    }


    footer {
        margin: 10% 0 5%;
    }

}